<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/NaiveChef.PNG" alt="Naive Chef Banner">
  <div class="ion-padding">
    <p>This app has been developed as a course project demonstrating basic database CRUD operations (Create, Read,
      Update, Delete) and some basic queries.</p>
    <p>As the requirement was to establish a database connection and do DBMS operations, this is still in Dev mode.
      Although, you can expect a slightly modified version with a little code refinement in the Google PlayStore,
      someday! :p</p>
    <ul>
      <li>Developer: Shakeeb Ahmad <a href="https://t.me/ShakesVision"> (@ShakesVision) </a></li>
      <li>Guide: Prof Ashwini S.</li>
    </ul></div>    
  <ion-list>
  <ion-item href="mailto:shakes.ahmad@gmail.com">
      <ion-icon slot="start" name="at"></ion-icon>
      <ion-label>shakes.ahmad@gmail.com</ion-label>
  </ion-item>  
  <ion-item href="https://www.shakeeb.in">
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-label>www.shakeeb.in</ion-label>
  </ion-item>
</ion-list>
  <div style="text-align: center; border: 1px solid black;box-shadow: gray;padding: 15px; letter-spacing: -1px;">VIT, Pune</div>
</ion-content>